.result{
    background-color: #EEEEEE;
    margin: 5% 30% 0 30%;
    padding: 1%;
}
.name{
    font-size: 3rem;
    font-weight: bold;
}
.description{
    margin-top: 30px;
    font-size: 1.5rem;
}
.division{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.title{
    font-weight: bold;
    font-size: 1.3rem;
}
.duration{
    color: grey;
}